:root {
  overscroll-behavior: none;
}

body{
  padding: 0;
  background: linear-gradient(to bottom, #24548b, #11158c, #24548b);
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.title {
  background: linear-gradient(to right, #e3ebba, #ff6f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #00000050 1px 1px 2px;
  margin: 5rem 0;
  font-size: 32px;
}

.lyrics-border {
  background: radial-gradient(
    circle,
    #e3ebba,
    #ff6f6f,
    #e3ebba,
    #ff6f6f
  );
  padding: 4px;
  border-radius: 24px;
  box-shadow: 0 0 8px #00000050;
  margin-left: 10rem;
}

.lyrics-container {
  padding: 20px;
  border-radius: 24px;
  background-color: #00047b;
}

.intro,
.outro,
.verse,
.chorus,
.bridge,
.pre-chorus {
  padding: 1rem 0; 
  font-weight: bold;
  margin: 1rem 0;
}

.lyrics-colors {
  background: radial-gradient(
    circle,
    #e3ebba,
    #ff9696,
    #e3ebba,
    #ff9696
  );
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  background-clip: text;
}

#spotify-embed {
  border-radius: 12px;
}

.artist {
  margin-right: 10rem;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 5rem;
  gap: 8rem;
}

.line {
  display: grid;
}

.line > .jp,
.line > .en {
  grid-area: 1 / 1;
  transition: opacity 0.6s ease-in-out;
}

.line > .en {
  opacity: 0;
}

.line:hover > .jp {
  opacity: 0;
}

.line:hover > .en {
  opacity: 1;
}